{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Advocates Detail</title>
    <link rel="stylesheet" href="{% static 'base/styles/base.css' %}" />
    {% comment %} <link rel="stylesheet" href="{% static 'base/styles/advo_details.css' %}" /> {% endcomment %}
  </head>
  <body>
    <main>
      <article>
        <img scr="" alt="" />
        {% if advoc_found %}
        <section>
          <section id="details">
          <h2>Advocate Details</h2>
          <h3>{{ advoc_name }}</h3>
          <p>{{ advoc_bio }}</p>
        </section>
        {% else %}
          <p> No Advocates found for this request, sorry! </p>
        {% endif %}
      </article>
    </main>
  </body>
</html>
